body{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #2D2D30;
	/*color: #1421FF;*/
	overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
	font-weight:800;
}
h1{
	font-size: 48px;
}
h1 span{
	color:#1421FF;
}
h2 span{
	color:#1421FF;
}
.block_padding{
	padding-top: 200px;
}
/*btn*/
	.flooded_btn{
		padding: 18px 32px;
		border-radius: 8px;
		align-items: center;
		background: #1421FF;
		color:#fff;
		box-shadow: 0px 22px 44px rgba(20, 33, 255, 0.19);
		transition: all .5s ease;
	}
	.flooded_btn:hover{
		background: #5B64FF;
		color: #fff;
	}
	.outline_btn{
		border: 1.5px solid #1421FF;
		box-sizing: border-box;
		padding: 12px 32px;
		border-radius: 8px;
		align-items: center;
		background: #fff;
		color:#1421FF;
		transition: all .5s ease;
	}
	.outline_btn:hover{
		color: #5B64FF;
		border: 1.5px solid #5B64FF ;

	}
/*header*/
	.header:before{
		content: "";
		position: absolute;
		top:72px;
		right:0;
		height: 1px;
		width: 100%;
		background: #EBEFFB;
	}
	.navbar{
		padding-top: 12px;
		padding-bottom: 11px;
		margin-bottom: 214px;
	}	
	.navbar-brand{
		margin-right: 40px;
	}
	.navbar-nav .nav-item .nav-link{
		color: #2D2D30;
		font-weight: 600;
		transition: all .5s ease;
	}
	.navbar-light .navbar-nav .nav-link:hover{
		color: #5B64FF;
	}
	.navbar-light .navbar-nav .active>.nav-link{
		color: #1421FF;
	}
	.presentation_btn{
		margin-top: 64px;
		margin-bottom: 86px;
	}
/*team*/
	.team_heading{
		margin-bottom: 32px;
	}
	.team_img{
		margin-right: 48px;
		margin-bottom: 32px;
	}
/*are_we_doing*/
	.are_we_doing_heading{
		margin-bottom: 64px;
	}
	.workHarder_img{
		margin-bottom: 64px;
	}
	.craft_skill{
		padding-top: 60px;
	}
	.craft_research{
		background: url(../img/find_in_page.png) no-repeat 3% 0;
	}
	.craft_design{
		background: url(../img/view_quilt.png) no-repeat 3% 0;
	}
	.craft_interface{
		background: url(../img/category.png) no-repeat 3% 0;
	}
	.craft_usability{
		background: url(../img/visibility.png) no-repeat 3% 0;
	}
/*skill*/
	.skill_head{
	margin-bottom: 24px;
	}
	.skill_description{
		margin-bottom: 64px;
	}
	.more_skills{
		position: relative;
	}
	.more_skills:before{
		content: "";
		position: absolute;
		width: 502px;
		height: 100%;
		left: 0;
		background: linear-gradient(90deg, rgba(255, 255, 255, 0.99) 22.56%, rgba(255, 255, 255, 0) 82.03%);
	}
	.more_skills:after{
		content:"";
		position:absolute;
		width:502px;
		height:100%;
		right:0;
		background: linear-gradient(270.44deg, rgba(255, 255, 255, 0.98) 46.22%, rgba(255, 255, 255, 0) 89.77%);
	}
	.more_skills_item{
		font-weight: 400;
		font-size: 30px;
		color:#2D2D30;
		text-align: justify;
		margin-top: 24px;
		margin-bottom: 24px;
	}
	.more_skills_item span{
		margin-right: 60px;
		margin-left: 60px;
	}
	.underline{
 	text-decoration: underline;
	}
/*interface*/
	.skill_heading{
		margin-bottom: 24px;
	}
	.description{
		margin-bottom: 64px;
	}
	.interface_img{
		width: 340px;
		margin-bottom: 24px;
		border-radius: 8px;
		box-shadow: 0px 15px 30px #52525ab8;
	}
/*our_work*/
	.our_work_heading{
		margin-bottom: 64px;
	}
	.our_work_img{
		margin-bottom: 48px;
	}
	.portfolio_btn{
		margin-top: 16px;
	}
/*useful_work*/
	.arm_img{
		margin-top: 64px;
		margin-bottom: 64px;
	}
/*interactions*/
	.interactions_heading{
		margin-bottom: 64px;
	}
	.interactions_wrap_heading{
		margin-top: 24px;
		margin-bottom: 16px;
	}
	.interactions_wrap_paragraph{
		margin-bottom: 24px;
	}
/*working_process*/
	.working_process_heading{
		margin-bottom: 24px;
	}
	.working_processv_list{
		margin-top: 64px;
	}
	.working_processv_list>ul{
		list-style: none;
	}
	.working_processv_list_item{
		padding: 16px 34px 0 34px;
		position: relative;
	}
	.working_processv_list_item:before{
		content: "";
		position: absolute;
		left: 0px;
		top:22px;
		width: 7px;
		height: 7px;
		border-radius: 50%;
		background: #1421FF;
		box-shadow: 0px 0px 10px rgba(28, 84, 233, 0.5);	
	}
	.working_processv_list_item:after{
		content: "";
		position: absolute;
		bottom:-21px;
		left:3px;
		height: 28px;
		width: 1px;
		background: #EBEFFB;
	}
	.working_processv_list_item:last-child:after{
		display: none;
	}
/*advantages*/
	.advantages_wrap{
		margin-bottom: 70px;
	}
/*questions*/
	.card-header{
		background: #F5F5F5;
	}
	.card{
		background: #F5F5F5;
	}
	.card:first-child{
		margin-top: 0;
	}
	.card:last-child{
		margin-bottom:0;
	}
	#accordionExample>.card{
		border-radius:8px;
	}
	.card{
		border:none;
		margin-top: 16px;
		margin-bottom: 16px;
	}
	.card_button{
		width: 100%; 
		text-align: start;
		color:#2D2D30;
		font-weight: bold;
	}
	.card_button:hover{
		color:#2D2D30;
		text-decoration: none;
	}
	.questions_discription a{
		color:#2D2D30;
	}
