body{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}
body:after{
	content: "";
	position:absolute;
	top:74px;
	right:0;
	width: 100%;
	height: 1px;
	background: #EBEFFB;
}
h1,h2,h3,h4,h5,h6{
	color:#2D2D30;
	font-weight:bold;
}
h1{
	font-weight: 800;
	font-size: 48px;
}
h1 span{
	color:#1421FF;
}
h2{
	font-weight: 800;
	font-size: 48px;
}
h2 span{
	color:#1421FF;
}
.border_btn{
	padding: 12px 32px;
	font-weight:700;
	font-size: 16px;
	color:#1421FF;
	border:1px solid #1421FF;
	border-radius: 8px;
	transition: all .5s ease;
}
.border_btn:hover{
	color:#5B64FF;
	border:1px solid #5B64FF;
}
.flooded_btn{
	color:#fff;
	font-size: 16px;
	font-weight: 700;
	background: #1421FF;
	padding: 18px 32px;
	border-radius: 8px;
	transition: all .5s ease;
}
.flooded_btn:hover{
	background: #5B64FF;
	color: #fff;
}
.navbar{
	padding-top: 12px;
	margin-bottom: 214px;
}
.navbar-brand{
	margin-right: 40px;
}
.navbar-light .navbar-nav .nav-link{
	color:#2D2D30;
	transition: all .5s ease;
}
.navbar-light .navbar-nav .nav-link:hover{
	color:#5B64FF;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
	color:#1421FF;
}
.presentation_btn{
	margin-top: 64px;
}
.team{
	padding-top: 268px;
}